body{
    margin: 0;
}

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear{
    background-color: transparent;
    color:ghostwhite;
    border: none;
}

.solid{
    background:ghostwhite;
    color:darkslateblue;
    border: none;
}

.outline{
    background: transparent;
    color:ghostwhite;
    border: 1px solid ghostwhite;
}

.error
{
    color:ghostwhite;
    background:crimson;
    display: none;
}

.loading
{
    background: rgba(0, 0, 0, 0.5);
    color:aliceblue;
    position: fixed;
    width: 100%;
    height: 100%;
}

.loading label{
    font-size: 24px;
}

button:active{
    opacity: 0.8;
}

button[disabled] {
    opacity: 0.7;
}
