body {
    height: 100vh;
}

header{
    text-align: right;
}

header button{
    width: auto;
}

button.danger
{
    width: auto;
    float: right;
    display: none;
}

ol {
    list-style-type: none;
    padding: 0;
}

ol li {
    cursor: pointer;
    background: rgb(241, 238, 239);
    padding: 8px 16px;
    border-bottom: 1px solid rgb(43, 37, 85);

}

ol li:hover button.danger {
    display: block;
}

ol li:hover {
/*feito para quando passar o mouse em cima, 
mudar a cor do item */
    opacity: 0.8;
}

ol li.expense {
    border-left: 10px solid maroon;
}

ol li.income {
    border-left: 10px solid rgb(111, 145, 60);
}

p {
    margin: 4px 0;
}